<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Configuration of DriverManagerDataSource for DB connectivity -->
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
       <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
       <property name="url" value="jdbc:mysql://localhost/estore"/>
       <property name="username" value="root"/>
       <property name="password" value=""/>
    </bean>

	<bean id="db" class="com.auribises.db.DB">
		<!-- Setter Injection to DB Object for dataSource property -->
		<property name="dataSource" ref="ds"/>
	</bean>
</beans>